
.padding{
  padding: 4rem;
}

h3{
    margin-top: 3rem;
    color: #00B4D2 ;
    min-height: 5rem;
}



.table th, .table tr{
    text-align: center;
    img{
        text-align: center;
    }
}

a {
    text-decoration: none;
}


